.btn {
  background-color: var(--color-primary);
  border-color: var(--color-dark);
  color: var(--color-neutral-beige);
}

.btn:hover {
  background-color: var(--color-neutral-beige);
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-ghost {
  border-color: var(--color-secondary-whatever);
  background-color: transparent;
  color: var(--color-dark);
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-secondary-accent);
  color: var(--color-dark);

}

.btn-light {
  background-color: var(--color-light);
  border-color: var(--color-primary-light);
  color: var(--color-primary);
}

.btn-light:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-light);
}

.btn-call-to-action {
  background-color: var(--color-primary);
  border-radius: 8px;
  border-color: var(--color-secondary);
  color: var(--color-light);
}

.btn-call-to-action:hover {
  border-color: var(--color-primary);
  background-color: var(--color-light)
}

.btn-round {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-dark);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  box-shadow: 2px 2px;
}

.btn-round:hover {
background-color: var(--color-neutral-beige);
color: var(--color-dark);
}

.cart {
  backgrond-color: var(--color-primary-light);
 border-color: var(--color-secondary-whatever);
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
