.card {
  border-color: var(--color-secondary-whatever);
  background-color: var(--color-neutral-beige);
}

.kendama {
  border-color: var(--color-primary);
  color: var(--color-light);
  background-color: var(--color-secondary);
  border-radius: 8px;
}

.carosel {
  background-color : var(--color-neutral-beige);
  border: var(--color-dark);
  max-height: 50%;
  max-width: 50%;
}

.prodinfo {
  background-color: var(--color-neutral-beige);
}

.pic1 {
  max-width: 100%;
}

.pic2 {
  max-width: 100%;
}

.pic3 {
  max-width: 100%;
}

.right {
  display: inline-block;
}

.prod-text {
  align-content: center;
  overflow: hidden;
}

.carousel-wrapper{
  height:400px;
  position:relative;
  width:400px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.caro-text {
  color: var(--color-dark);
}

.item-1 {
    z-index: 2;
    opacity: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 255), rgba(255, 255, 255, .80), rgba(0, 0, 0, 0)),
url('/images/kendama3.jpg');
  background-size:cover;
  }
.item-2{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 255), rgba(255, 255, 255, .80), rgba(0, 0, 0, 0)),
url('/images/kendama4.jpg');
   background-size:cover;
}
.item-3{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 255), rgba(255, 255, 255, .80), rgba(0, 0, 0, 0)),
url('/images/kendama11.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
}

.thumb-layout {
  display: grid;
  grid-template-rows: 20vw 20vw;
  grid-template-columns: 20vw 1fr 1fr 1fr;
  grid-template-areas:
    "thumb-1 primary-img content content"
    "thumb-2 primary-img content content";
  gap: 1em 1em;
}

.thumb-1 {
  grid-area: thumb-1;
}

.thumb-2 {
  grid-area: thumb-2;
}

.primary-img {
  grid-area: primary-img;
}

.content {
  grid-area: content;
  align-self: center;
}
