.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* Center website */
.main2 {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.row2 {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after rows */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content2 {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn2 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn2:hover {
  background-color: #ddd;
}

.btn2.active {
  background-color: #666;
  color: white;
}
